.dropdown-menu ul{
    list-style: none;
    font-size: 1rem;
}

.dropdown-menu{
    position: relative;
    display: inline-block;
    height: 45px;
    width: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

.dropdown{
    position: absolute;
    width: 200px;
    color: #000;
    margin: 0;
    padding: 0;
}

.dropdown li{
    display: none;
    opacity: 0;
    background-color: rgb(116, 19, 19);
    transition: color .3s; //hace referencia al morado
}

.dropdown li:hover{
    color: #4027c1;
    background-color: #f5f3fa;
}

.dropdown-menu:hover .dropdown li{
    display: block;
    // animation: menu1 .5s forwards;
}

.dropdown-menu .dropdown li:nth-last-child(1){
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.dropdown-menu:hover .dropdown li:nth-child(2){
    animation-delay: .2s;
}

.dropdown-menu:hover .dropdown li:nth-child(3){
    animation-delay: .4s;
}

.dropdown-menu:hover .dropdown li:nth-child(4){
    animation-delay: .6s;
}

.dropdown-menu:hover .dropdown li:nth-child(5){
    animation-delay: .8s;
}

.dropdown-menu:hover .dropdown li{
    animation: animation .5s forwards;
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}